body {
    margin: 0;
    background: #120018;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
}

#intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h1 {
    font-size: 55px;
}

#portfolio {
    display: none;
    padding: 60px 20px;
}

#portfolio h1 {
    font-size: 50px;
}

section {
    margin: 50px auto;
    max-width: 600px;
    padding: 25px;
    border: 1px solid #ffffff55;
    border-radius: 20px;
}

section h2 {
    font-size: 30px;
}
